
.session-message{
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    box-sizing: border-box;
}

.select2-container--default .select2-selection--single {
    height: calc(1.5em + 0.75rem + 2px) !important;
    line-height: 1.5 !important;
    padding: 0.375rem 0.75rem;

    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 4px;
    line-height: 1.5 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
}


.select2-container--default .select2-selection--multiple {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

}

.select2-dropdown {
    background-color: #ced4da;
}

.breadcrumb-item  {
    color: red;
}

.full-height {
    height: 30vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.sub-text-primary{
    color: #007bff !important;
}

.tab-content{
    border: none !important;
    min-height: 0px !important;
}

.step-content{
    padding: 15px !important;
}


#date-range{
    color: #495057;
    line-height: 1.5 !important;
    padding: 0.375rem 0.75rem;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px) !important;
    border: 1px solid #ced4da;
    /*font-size: 14px;*/
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#date-range:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


a:focus{
    text-decoration: none !important;
}

.table th, .table td{
    vertical-align: middle !important;
}

.td-content-middle{
    text-align: center !important;
}

.th-content-middle{
    text-align: center !important;
}

.model-selection {
    transform: scale(1.3);
    position: inherit !important;
    /*float: left;*/
    margin: 0 auto;
    /*width: 100%;*/

}

#check-all:hover{
    cursor: pointer;
}

.td-row-number{
    font-style: italic;
    border-right: 1px solid rgba(208, 208, 208, 1);
}

.th-row-number{
    border-right: 1px solid rgba(208, 208, 208, 1);
}

dl {
    display: flex;
    flex-flow: row wrap;
}
dt {
    flex-basis: 50%;
    padding: 2px 4px;
    text-align: right;
}
dd {
    flex-basis: 50%;
    flex-grow: 1;
    margin: 0;
    padding: 2px 4px;
    text-align: left;
}


.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
